html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('./images/photography.png');
}
.gallery {
  padding-inline-start: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  padding: 10px;
  font-weight: 700;
}

.search-form button {
  background-color: #fff;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 700;
}

.show-more-btn,
.clear-btn {
  background-color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
}

.clear-btn {
  margin-top: 10px;
}

.gallery-item {
  margin: 15px 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: lavenderblush;
  margin-top: auto;
}

.photo-card-image {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
  transform: scale(1);
}

.photo-card-image:hover {
  transform: scale(1.05);
}
